[user]
    name = Mikhail Damakalshchikov
    email = 93596198+damakalshchikov@users.noreply.github.com

[core]
    editor = code --wait
    excludesfile = ~/.gitignore

[init]
    defaultBranch = main

[column]
    ui = auto

[branch]
    sort = -committerdate

[tag]
    sort = version:refname

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[push]
    default = simple
    autoSetupRemote = true
    followTags = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[help]
    autocorrect = prompt

[commit]
    verbose = true

[rerere]
    enabled = true
    autoupdate = true

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

# Линейная история (rebase вместо merge при git pull)
# [pull]
#     rebase = true

# Расширенный контекст при конфликтах
# [merge]
#     conflictstyle = zdiff3
